doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/moto.css')

  body
    .container
      .header
        h1 Dettagli della moto #{d.nome}
      .details
        img.moto-image(src=d.immagine, alt=d.nome)
        ul
          li Nome: #{d.nome}
          li Cavalli: #{d.cavalli}
          li Velocità massima: #{d.velocitamassima}
          li Prezzo: #{d.prezzo}
          li Cilindrata: #{d.cilindrata}
      a(href='/') Torna alla homepage
