doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/sportive.css')

  body
    .container
      .header
        h1 Benvenuto alla pagina delle auto sportive
      .selection
        h2 Seleziona di quale auto vuoi visualizzare la scheda tecnica:

      .moto-box
        each m in moto
          .person
            a(href=`/moto/${m.id}`)
              img.moto-image(src=m.immagine, alt=m.nome)
            a.person-link(href=`/moto/${m.id}`) #{m.nome}
