doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    title Ciao Mondo
  body
    header.header
      h1 #{title}
    article.container
      each m in moto
        div.person
          div.person-image(style=`background: url('${m.immagine}') top center no-repeat; background-size: cover;`)

          h2.person-name 
            | #{m.nome}
          a(href=`/profile?id=${m.id}&page=${variabile}`)
            | View Profile
 
  div.container
    a(href="") 
    a.button.button-buy(href='/') Torna Alla home